@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
  background-color: rgb(191, 203, 216);
  font-family: "Chelsea Market", cursive;
  text-align: center;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  height: auto;
  width: 150px;
}

.card-id {
  position: absolute;
  top: 0;
  left: 0;
}